In [48]:
import pandas as pd
import numpy as np

In [49]:
headers = []
def header_creator(file_1):
    df = pd.read_csv(file_1)
    columns = list(df.columns)
    for items in columns:
        headers.append(items)

In [50]:
header_creator('static/sri lanka_id.csv')
header_creator('static/sri lanka_camera.csv')
header_creator('static/sri lanka_geo.csv')

In [51]:
headers = list(dict.fromkeys(headers))
merged_df = pd.DataFrame(columns=headers)
merged_df.to_csv("file.csv",sep=",", index=None)
merged_df

Empty DataFrame
Columns: [pic_id, Views, tag, Camera_Make, Camera_Model, Aperture, Exposure_Program, ISO, Metering_Mode, Flash, Focal_Length, Color_Space, Lens_Model, latitude, longitude, county, region, country]
Index: []

In [52]:
df_id = pd.read_csv('static/sri lanka_id.csv')
df_id = df_id.drop_duplicates()
df_id = df_id.to_numpy()
length_df_id = len(df_id)
# print(length_df_id)

df_camera = pd.read_csv('static/sri lanka_camera.csv')  
df_camera = df_camera.drop_duplicates()  
df_camera = df_camera.to_numpy()
length_df_camera = len(df_camera)
# print(length_df_camera)


df_geo = pd.read_csv('static/sri lanka_geo.csv')
df_geo = df_geo.drop_duplicates() 
df_geo = df_geo.to_numpy()

length_of_geo = len(df_geo)


final_array = []
none_merged_array = []

for item_id in df_id:
    status = False
    for item_camera in df_camera:
            if item_id[0] in item_camera:
                new_df = np.append(item_id,item_camera[1:])
                final_array.append(new_df)
                status = True

    if status == False:
        none_merged_array.append(item_id)

            
             
    
        
                
         
          
new_df = pd.DataFrame(final_array)# df which has both pic id csv data and camera info data
none_merged_df = pd.DataFrame(none_merged_array)
none_merged_df = none_merged_df.drop_duplicates()#df whih dont have the camera info
none_merged_df

              0        1          2
0   52148806479    728.0  sri lanka
1   52125732133   1258.0  sri lanka
2   52121906734    665.0  sri lanka
3   52121404023    996.0  sri lanka
4   52114499159   6130.0  sri lanka
5   52049105550    657.0  sri lanka
6   52046258887   1873.0  sri lanka
7   52032917740   1096.0  sri lanka
8   52028693133    901.0  sri lanka
9   52022847811   1214.0  sri lanka
10  52021576618   2043.0  sri lanka
11  52015963849    851.0  sri lanka
12  52011765420  16550.0  sri lanka

In [53]:
none_merged_df

              0        1          2
0   52148806479    728.0  sri lanka
1   52125732133   1258.0  sri lanka
2   52121906734    665.0  sri lanka
3   52121404023    996.0  sri lanka
4   52114499159   6130.0  sri lanka
5   52049105550    657.0  sri lanka
6   52046258887   1873.0  sri lanka
7   52032917740   1096.0  sri lanka
8   52028693133    901.0  sri lanka
9   52022847811   1214.0  sri lanka
10  52021576618   2043.0  sri lanka
11  52015963849    851.0  sri lanka
12  52011765420  16550.0  sri lanka

In [54]:
array_with_nef_geo = []
none_merged_geo_array = []

In [55]:
new_df_for_geo_merge = new_df.to_numpy()

for item in new_df_for_geo_merge:
    status = False
    for new_item in df_geo:
        if item[0] in new_item:
            new_geo_df = np.append(item, new_item[1:])
            array_with_nef_geo.append(new_geo_df)
            status = True
        
    if status == False:
        none_merged_geo_array.append(item)
  
array_with_nef_geo_df = pd.DataFrame(array_with_nef_geo)
none_merged__geo_df = pd.DataFrame(none_merged_geo_array)
none_merged__geo_df = none_merged__geo_df.drop_duplicates()

In [56]:
print(len(array_with_nef_geo_df))

5

In [57]:
# import csv
# with open ("file.csv", "w") as f:
#     writer = csv.writer(f, delimiter=',')
#     for i in range(len(none_merged_geo_array)):
#         row = none_merged_geo_array[i]
#         writer.writerow(row)
        
for item in array_with_nef_geo:
    merged_df["pic_id"] = pd.Series(item[0])
    merged_df["Views"] = pd.Series(item[1])
    merged_df["tag"] = pd.Series(item[2])
    merged_df["Camera_Make"] = pd.Series(item[3])
    merged_df["Camera_Model"] = pd.Series(item[4])
    merged_df["Aperture"] = pd.Series(item[5])
    merged_df["Exposure_Program"] = pd.Series(item[6])
    merged_df["ISO"] = pd.Series(item[7])
    merged_df["Metering_Mode"] = pd.Series(item[8])
    merged_df["Flash"] = pd.Series(item[9])
    merged_df["Focal_Length"] = pd.Series(item[10])
    merged_df["Color_Space"] = pd.Series(item[11])
    merged_df["Lens_Model"] = pd.Series(item[12])
    merged_df["latitude"] = pd.Series(item[13])
    merged_df["longitude"] = pd.Series(item[14])
    merged_df["county"] = pd.Series(item[15])
    merged_df["region"] = pd.Series(item[16])
    merged_df["country"] = pd.Series(item[17])
    merged_df.to_csv("file.csv",sep=',',header=False ,index=False,mode='a')

In [58]:
none_merged_geo_array = none_merged__geo_df.to_numpy()

for item in none_merged_geo_array:
    merged_df["pic_id"] = pd.Series(item[0])
    merged_df["Views"] = pd.Series(item[1])
    merged_df["tag"] = pd.Series(item[2])
    merged_df["Camera_Make"] = pd.Series(item[3])
    merged_df["Camera_Model"] = pd.Series(item[4])
    merged_df["Aperture"] = pd.Series(item[5])
    merged_df["Exposure_Program"] = pd.Series(item[6])
    merged_df["ISO"] = pd.Series(item[7])
    merged_df["Metering_Mode"] = pd.Series(item[8])
    merged_df["Flash"] = pd.Series(item[9])
    merged_df["Focal_Length"] = pd.Series(item[10])
    merged_df["Color_Space"] = pd.Series(item[11])
    merged_df["Lens_Model"] = pd.Series(item[12])
    merged_df["latitude"] = pd.Series(None)
    merged_df["longitude"] = pd.Series(None)
    merged_df["county"] = pd.Series(None)
    merged_df["region"] = pd.Series(None)
    merged_df["country"] = pd.Series(None)
    merged_df.to_csv("file.csv",sep=',',header=False ,index=False,mode='a')

C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\3395441366.py:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["latitude"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\3395441366.py:18: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["longitude"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\3395441366.py:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["county"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\3395441366.py:20: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["region"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\3395441366.py:21: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["country"] = pd.Series(None)

In [59]:
merged_df

,pic_id,Views,tag,Camera_Make,Camera_Model,Aperture,Exposure_Program,ISO,Metering_Mode,Flash,Focal_Length,Color_Space,Lens_Model,latitude,longitude,county,region,country
0,52139999359,2885.0,sri lanka,Canon,Canon EOS 6D,5.6,Program AE,800.0,Multi-segment,"Off, Did not fire",105.0,sRGB,MACRO 100mm F2.8,NaN,NaN,NaN,NaN,NaN

In [60]:
merged_df

,pic_id,Views,tag,Camera_Make,Camera_Model,Aperture,Exposure_Program,ISO,Metering_Mode,Flash,Focal_Length,Color_Space,Lens_Model,latitude,longitude,county,region,country
0,52139999359,2885.0,sri lanka,Canon,Canon EOS 6D,5.6,Program AE,800.0,Multi-segment,"Off, Did not fire",105.0,sRGB,MACRO 100mm F2.8,NaN,NaN,NaN,NaN,NaN

In [61]:
for item in final_array:
    merged_df["pic_id"] = pd.Series(item[0])
    merged_df["Views"] = pd.Series(item[1])
    merged_df["tag"] = pd.Series(item[2])
    merged_df["Camera_Make"] = pd.Series(item[3])
    merged_df["Camera_Model"] = pd.Series(item[4])
    merged_df["Aperture"] = pd.Series(item[5])
    merged_df["Exposure_Program"] = pd.Series(item[6])
    merged_df["ISO"] = pd.Series(item[7])
    merged_df["Metering_Mode"] = pd.Series(item[8])
    merged_df["Flash"] = pd.Series(item[9])
    merged_df["Focal_Length"] = pd.Series(item[9])
    merged_df["Color_Space"] = pd.Series(item[10])
    # merged_df["Lens_Model"] = pd.Series(item[11])
    # merged_df["latitude"] = pd.Series(item[12])
    # merged_df["longitude"] = pd.Series(item[13])
    # merged_df["county"] = pd.Series(item[14])
    # merged_df["region"] = pd.Series(item[15])
    # merged_df["tag"] = pd.Series(item[16])
    # merged_df["tag"] = pd.Series(item[17])

merged_df

,pic_id,Views,tag,Camera_Make,Camera_Model,Aperture,Exposure_Program,ISO,Metering_Mode,Flash,Focal_Length,Color_Space,Lens_Model,latitude,longitude,county,region,country
0,52139999359,2885.0,sri lanka,Canon,Canon EOS 6D,5.6,Program AE,800.0,Multi-segment,"Off, Did not fire","Off, Did not fire",105.0,MACRO 100mm F2.8,NaN,NaN,NaN,NaN,NaN

In [62]:
final_merge_array = []
final_none_merge_array = []

In [63]:
none_merge = none_merged_df.to_numpy()

for item in none_merge:
    status = False
    for geo_item in df_geo:
        
        if item[0] in geo_item:
            final_df = np.append(item, geo_item[1:])
            final_merge_array.append(final_df)
            status = True
    if status == False:
        final_none_merge_array.append(item)    
            
final_none_merge_array_df = pd.DataFrame(final_none_merge_array)
final_none_merge_array_df = final_none_merge_array_df.drop_duplicates()

In [64]:
print((final_merge_array))
print(len(final_none_merge_array_df))

[array([52148806479, 728.0, 'sri lanka', 6.024503, 80.219807,
       'Galle District', 'Southern Province', 'Sri Lanka'], dtype=object)]
12

In [65]:
for item in final_merge_array:
    merged_df["pic_id"] = pd.Series(item[0])
    merged_df["Views"] = pd.Series(item[1])
    merged_df["tag"] = pd.Series(item[2])
    merged_df["Camera_Make"] = pd.Series(None)
    merged_df["Camera_Model"] = pd.Series(None)
    merged_df["Aperture"] = pd.Series(None)
    merged_df["Exposure_Program"] = pd.Series(None)
    merged_df["ISO"] = pd.Series(None)
    merged_df["Metering_Mode"] = pd.Series(None)
    merged_df["Flash"] = pd.Series(None)
    merged_df["Focal_Length"] = pd.Series(None)
    merged_df["Color_Space"] = pd.Series(None)
    merged_df["Lens_Model"] = pd.Series(None)
    merged_df["latitude"] = pd.Series(item[3])
    merged_df["longitude"] = pd.Series(item[4])
    merged_df["county"] = pd.Series(item[5])
    merged_df["region"] = pd.Series(6)
    merged_df["country"] = pd.Series(7)
    merged_df.to_csv("file.csv",sep=',',header=False ,index=False,mode='a')

C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Camera_Make"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:6: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Camera_Model"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Aperture"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Exposure_Program"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["ISO"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Metering_Mode"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:11: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Flash"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Focal_Length"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:13: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Color_Space"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2648009364.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Lens_Model"] = pd.Series(None)

In [66]:
final_none_merge_array_df_array = final_none_merge_array_df.to_numpy()

for item in final_none_merge_array_df_array:
    merged_df["pic_id"] = pd.Series(item[0])
    merged_df["Views"] = pd.Series(item[1])
    merged_df["tag"] = pd.Series(item[2])
    merged_df["Camera_Make"] = pd.Series(None)
    merged_df["Camera_Model"] = pd.Series(None)
    merged_df["Aperture"] = pd.Series(None)
    merged_df["Exposure_Program"] = pd.Series(None)
    merged_df["ISO"] = pd.Series(None)
    merged_df["Metering_Mode"] = pd.Series(None)
    merged_df["Flash"] = pd.Series(None)
    merged_df["Focal_Length"] = pd.Series(None)
    merged_df["Color_Space"] = pd.Series(None)
    merged_df["Lens_Model"] = pd.Series(None)
    merged_df["latitude"] = pd.Series(None)
    merged_df["longitude"] = pd.Series(None)
    merged_df["county"] = pd.Series(None)
    merged_df["region"] = pd.Series(None)
    merged_df["country"] = pd.Series(None)
    merged_df.to_csv("file.csv",sep=',',header=False ,index=False,mode='a')

C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:7: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Camera_Make"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:8: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Camera_Model"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:9: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Aperture"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Exposure_Program"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:11: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["ISO"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:12: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Metering_Mode"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:13: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Flash"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:14: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Focal_Length"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:15: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Color_Space"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:16: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["Lens_Model"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:17: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["latitude"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:18: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["longitude"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:19: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["county"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:20: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["region"] = pd.Series(None)
C:\Users\Dinuka's PC\AppData\Local\Temp\ipykernel_10472\2777440373.py:21: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  merged_df["country"] = pd.Series(None)